apiVersion: apps/v1
kind: Deployment
metadata:
  name: cosi-web-deployment
  labels:
    app: cosi-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cosi-web
  template:
    metadata:
      labels:
        app: cosi-web
    spec:
      containers:
      - name: cosi-web-server
        image: aarongalang/cosi-web-test:latest
        ports: 
        - containerPort: 80
---
apiVersion: v1
kind: Service
metadata: 
  name: cosi-web-service
spec:
  type: NodePort
  selector:
    app: cosi-web
  ports:
  - name: "http"
    port: 80
    targetPort: 80
    nodePort: 30080