apiVersion: apps/v1
kind: Deployment
metadata:
  name: cosi-web-deployment
  labels:
    app: cosi-web
spec:
  replicas: 1
  selector:
    matchLabels:
      app: cosi-web
  template:
    metadata:
      labels:
        app: cosi-web
    spec:
      containers:
      - name: cosi-web-server
        image: mukhoakash/cosi-web-test:latest
        imagePullPolicy: Always
        ports: 
        - containerPort: 8080
        volumeMounts:
        - name: cosi-bucket1
          mountPath: /cosi/bucket1
      volumes:
      - name: cosi-bucket1
        secret:
          secretName: bucketcreds1
---
apiVersion: v1
kind: Service
metadata: 
  name: cosi-web-service
spec:
  type: ClusterIP
  selector:
    app: cosi-web
  ports:
  - port: 8080